Artículos: <%= link_to 'click', articles_path %>

<center> <h1>  Libros  </h1>  </center>

<h4> </h4>
<li> Las cualidades del alma: <%= link_to "Los caminos de los justos", orjot_path %>  </li>
<h4> </h4>
<li> Las puertas del alma: <%= link_to "Hablar bien, vivir bien", hablarbien_path %>  </li>
<h4> </h4>
<li> Educación según la torá: <%= link_to "Educación con amor", educacion_path %> </li>
