Artículos: <%= link_to 'click', articles_path %>

<center> <h1>  Libros  </h1>  </center>
<li>  <%= link_to "Los caminos de los justos", orjot_path %>  </li>
<li>  <%= link_to "Hablar bien, vivir bien", hablarbien_path %>  </li>
<li>  <%= link_to "Educación con amor", educacion_path %> </li>
